.container .samap {
text-align: center;
background-color: #2d3f50;
}

.samap {
	padding-top: 1em;
background-color: #2d3f50;
height: 35em;
box-shadow: 5px 5px 5px 5px;
}
.samap img{
	width: 60%;
}
.about{
	font-size: 1.2em;
	width: 60%;
	margin-left: 20%;

}
.abt-img:hover{
	font-weight: bolder;
	color: #404040;
	font-size: 16px;
<<<<<<< HEAD
}*/
.abt-img img{
 width: 200px;
 height: 200px;
 border-radius: 43px;
 opacity: 0.5;
 z-index: -5;
/* display: block;
position: relative;*/
}
.rosyimg {
    transform:rotate(90deg);
=======
>>>>>>> 4eb0575e4e7e2e433f7f86ee19937f8c29fbba7e
}
.abt-img img:hover{
width: 220px;
    height: 220px;
	border-radius: 22px;
	z-index: -5;
	opacity: 10;

}
.rosyimg {

    transform:rotate(90deg);
}
.abt-img img:active{
	width: 200px;
    height: 200px;
<<<<<<< HEAD
    border-radius: 22px;
    /*z-index: -5;*/
}

.abt-img div{
    float: left;
}
@media (min-width: 768px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
}
.navbar-nav .open .dropdown-menu > li > a,
.navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
}
.navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
}
.navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;

}
    .btnprght{
         margin-left: 1em;
    }
<<<<<<< HEAD
=======
=======
	border-radius: 22px;
	z-index: -5;
}
	.abt-img img{
 width: 200px;
 height: 200px;
 border-radius: 43px;
 opacity: 0.5;
>>>>>>> 4eb0575e4e7e2e433f7f86ee19937f8c29fbba7e
>>>>>>> 8429f87c226899fb7ba27a2bb3aa0ea805d6def4
}
#remember{
    margin-bottom: 2em;
}
.abt-img{
	margin-left: 25%;
	margin-top: 2em;
	padding: 0px;

}
.card-container.card {
<<<<<<< HEAD
    max-width: 600px;
    margin-top: 50px;
    padding: 30px 0px 60px 50px;
=======
<<<<<<< HEAD
    max-width: 600px;
    margin-top: 50px;
    padding: 30px 0px 60px 50px;
=======
    max-width: 450px;
    padding: 40px 40px;
>>>>>>> 4eb0575e4e7e2e433f7f86ee19937f8c29fbba7e
>>>>>>> 8429f87c226899fb7ba27a2bb3aa0ea805d6def4
    color: #000
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin,
.passlabels {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;


}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);

}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

.footPadRight a
{
	color: white;
	margin: 0.5em; 
}
.footPadRight{
	
	margin-right: 2em;
}
.footPadRight a :hover{
font-size: large;
}
.white-text{
	color: #fff;

}
.black-text a{
	color: black;
	

}
.black-text {

	text-align: left;

}
.passbtn{
	width: 40%;
}
.resetTopPad{
	padding-top: 5em;
	padding-left: 5em;
}
.upload{
    margin: 3px
}
.fileToUpload{
    margin: 0px;
    padding: 0px;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.table{
   border: 1px solid #2d3f50 !important;
}
ul{
   list-style-type: none;  

}
ol.orderedList  ul  {

 
 color: #000;
}
.orderedList a:hover {  
 
 background-color: #aaa;
 color: blue;
}
.section {
    display: none;
}
.section:target {
    display: block;    

}

