/** main style for template**/
/*::selection { background-color: #E13300; color: white; }*/

/*********************************main body********************************/
 body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
/** page container*/
.starter-template {
  /*padding: 60px 15px;*/
  text-align: center;
  min-height: 780px;
}
/***************************** default style for links************************/
a {
  color: blue;
  background-color: transparent;
  font-weight: normal;
} 

/***************************************** default style for h3***************/
h3 {
  color: #337ab7;
  background-color: transparent;
   /*border-bottom: 1px solid #D0D0D0;
   font-size: 19px;*/
   font-weight: normal;
   margin: 0 0 14px 0;
   padding: 14px 15px 10px 15px;
   margin-top: -90px;
   margin-left: -50px;
 }

  /*code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
    }*/

    /** *******************style for navigation menu**********************************/  


  /*********************************** style for footer************************/
  footer{
   width: 100%;
   position: relative;
   padding: 0px;
   margin: 0px;
 }
 /*footer .footer { margin-bottom: 0px  }*/
 .footer {   
    /*padding: 30px 0px 0px 0px;
    
    */
    height: 100px;
    width: 100%;
    position: absolute;
    margin-top: 200px;  
    text-align: center; 
    color: white;
    /*
    height: 50px;
    background-color: #2d3f50;
    text-align: center;
    font-size: 11px;
    padding: 0px;
    margin: 0px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    */
  } 

  
  /** *******************style for home carousel**********************************/
  
 
  .red{
    color:red;
  }

  /*********************container for some content of the pages*************************/  
  .form-area

  {
    
    background-color: #f7f9f9;
    padding: 10px 20px;
    /*margin: 10% auto;*/
    border: 1px solid GREY;
    border-radius: 1px;
    color: white; 
    height: auto;
    width: 40%;
    /*min-width: 20%;*/
    padding-bottom:150px;
    text-align: center;
    box-shadow: 0px 8px 8px #000;
    left: 40px;
    overflow-x: hidden;
    margin-top: 100px;
   
  }
  .form-area1
  {
    background-color: #f7f9f9;
    padding: 10px 20px;
    /*margin: 10% auto;*/
    border: 1px solid GREY;
    border-radius: 1px;
    color: white; 
    height: auto;
    width: 48%;
    /*min-width: 20%;*/
    padding-bottom:150px;
    text-align: center;
    box-shadow: 0px 8px 8px #000;
    left: 40px;
    overflow-x: hidden;
    margin-top: 100px;
    margin-left: 420px;
  }  .form-area6
  {
    background-color: #f7f9f9;
    padding: 10px 20px;
    /*margin: 10% auto;*/
    border: 1px solid GREY;
    border-radius: 1px;
    color: white; 
    height: auto;
    width: 55%;
    /*min-width: 20%;*/
    padding-bottom:150px;
    text-align: center;
    box-shadow: 0px 8px 8px #000;
    left: 40px;
    overflow-x: hidden;
    margin-top: 100px;
    margin-left: 180px;
  }  
  .form-area3
  {
    background-color: #f7f9f9;
    padding: 10px 20px;
    /*margin: 10% auto;*/
    border: 1px solid GREY;
    border-radius: 1px;
    color: white; 
    height: auto;
    width: 48%;
    /*min-width: 20%;*/
    padding-bottom:150px;
    text-align: center;
    box-shadow: 0px 8px 8px #000;
    left: 40px;
    overflow-x: hidden;
    margin-top: 100px;
    margin-left: 200px;
  }.form-area4
  {
    background-color: #f7f9f9;
    padding: 10px 20px;
    /*margin: 10% auto;*/
    border: 1px solid GREY;
    border-radius: 1px;
    color: white; 
    height: auto;
    width: 60%;
    /*min-width: 20%;*/
    padding-bottom:150px;
    text-align: center;
    box-shadow: 0px 8px 8px #000;
    left: 40px;
    overflow-x: hidden;
    margin-top: 100px;
    margin-left: 340px;
  }
  .form-area2
  {
     width: 100%;

  }
  .form-area h1{
    /*padding-top:3em;*/
  }
  .form-area .tablereq{
    padding-top: 15px
  }
  label
  {
    color: #337ab7;
  }

  #submit
  {
    margin-right:160px;
  }

  /**********changing medias*************************/  

 @media (max-width: 1166px) {
 
    .mytable{
      /*padding-left: -110px;*/
      margin: 0px;
      font-size: 100%;
    }
  }
  /* @media (max-width: 708px) {
    .form-area {
      padding: 0px;
      margin: 0;
      width:100%;
      
    }
    .mytable{
      padding-left: -110px;
      margin: 0px;
    }
  }*/
  
@media (min-width: 200px) {
    .starter-templat{
     
      width: 80%;

    }
    .form-area{

      /*background-color:#337ab7; 
      padding: 0px;
      margin: 0px;
      width: 100%;*/
/*       overflow-x: auto;

*/
   
    
  }
  .form-area5
{

background-color: #f7f9f9;
    padding: 10px 20px;
    /*margin: 10% auto;*/
    border: 1px solid GREY;
    border-radius: 1px;
    color: white; 
    height: auto;
    width: 50%;
    /*min-width: 20%;*/
    padding-bottom:150px;
    text-align: center;
    box-shadow: 0px 8px 8px #000;
    left: 40px;
    overflow-x: hidden;
    margin-top: 100px;
    margin-left: 340px;
        

}
  @media (max-width: 500px) {
   
    .form-area {
      
      width: 100%;
   
 
    }
     .mytable{
     /* padding-left: -110px;*/
      margin: 0px;
    }
    
  }

#door
{
  color: black;
}


#para
{
  margin-top: 60px;
  margin-left: -5px;
}
#pari
{
  margin-left: -5px;
}
#approve
{
  margin-left: 50px;
  margin-top: 80px;
  padding-bottom: 30px;
}
#decline
{
  margin-left: 50px;
  margin-top: 80px;
  padding-bottom: 30px;
}
#approval
{
  margin-left: 130px;
}
#step-2
{
  display:none;
}
.hide {
  display: none;
}
.col-sm-4
{
  color: #337ab7;
}
/*.row 
{
  margin-left: 110px;
}

  
   @media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
      margin-left: -15px;
    }
    .nav > .navbar-nav{
      float: right !important;
    }
  }
  .navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .navbar-toggle:focus {
    outline: 0;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
  }
  @media (min-width: 1200px) {
    .navbar-toggle {
      display: none;
    }
  }
  .navbar-nav {
    margin: 7.5px -15px;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
  }*/

  /*@media (max-width: 768px) {
    .navbar-nav .open .dropdown-menu {
      /*position: static;*/
      /*float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
     padding: 5px 15px 5px 25px;
    }
    .navbar-nav .open .dropdown-menu > li > a {
      line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {
      background-image: none;
    }
  }*/
/* @media (min-width: 768px) {
    .navbar-nav {
      float: left;
      margin: 0;
    }
    .navbar-nav > li {
      float: left;
    }
    .navbar-nav > li > a {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .form-area{
      clear: both;
      
    }
  }*/

  

