/** main style for template**/
/*::selection { background-color: #E13300; color: white; }*/

/*********************************main body********************************/
body {

 /*background: #225faa;
 background: linear-gradient(135deg, #BEF4F7 0%, #f7c1be 100%);*/


 /*margin: 40px;*/
 background-image: url("../images/background-template.jpg");
 font: 13px/20px normal Helvetica, Arial, sans-serif;
 color: black;
 margin:0px;
 padding:20px 0px;
 height: 100%;

}
/** page container*/
.starter-template {
  padding: 60px 15px;
  text-align: center;
  min-height: 780px;
}
/***************************** default style for links************************/
a {
  color: blue;
  background-color: transparent;
  font-weight: normal;
} 

/***************************************** default style for h3***************/
h3 {
  color: white;
  background-color: transparent;
   /*border-bottom: 1px solid #D0D0D0;
   font-size: 19px;*/
   font-weight: normal;
   margin: 0 0 14px 0;
   padding: 14px 15px 10px 15px;
   margin-top: -90px;
   margin-left: -50px;
 }

  /*code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
    }*/

    /** *******************style for navigation menu**********************************/  
.navbar-brand
{
 padding: 9.5px 15px;
  }
  .navbar-brand > .logo {
    margin-top: -15px !important;
    margin-left: -50px;
    padding-top: -5px !important;
    border-radius: 30px 5px !important;
    width: 7em !important;
    height: 3em !important;
    box-shadow: 8px 3px 8px black;
    opacity: 0.8;
  } 
    .nav>li>a {
      padding: 10px 10px;
    }
    .nav .open>a,
     .nav .open>a:focus, 
     .nav .open>a:hover {
   /* background-color: #eee;*/
   border-style: none;
  border: none !important; }
    .navbar{
      height: 5em;
     background-color: #2d3f50;
     font-family: Helvetica;
     font-size: 14px;
     color: #fff;
     text-align: left;
     opacity: 89%;
     box-shadow: 1px 5px 5px black;
     padding: 0px;
     padding-top: 10px;
     margin: 0px;

   }
   .navbar-nav li{
     border: none;  

   }
   .navbar-nav :visited{
     background-color: #2d3f50!important;

   }
   .navbar-nav,
   .navbar-nav a :hover,
   #loginButton >a> span:hover,
   .navbar-nav a :active

   {
     background-color: #2d3f50!important;
     color: #fff !important;
     text-decoration: none;
   }
   .navbar-nav .btn-bkg{

    /*margin-top: 8px;*/
    color: white;
    margin: 0px;
      border: none !important;
    background-color:#2d3f50!important;
    text-align: left;
    display: block;
  }

  .dropdown-menu >li > a {
    color: #aaa!important;

  }
  .dropdown-menu ,
  .dropdown-menu li a :hover
  {
    background-color:#2d3f50 !important ;
    color: white;
  }

  /*********************************** style for footer************************/
  footer{
   width: 100%;
   position: relative;
   padding: 0px;
   margin: 0px;
 }
 /*footer .footer { margin-bottom: 0px  }*/
 .footer {   
    /*padding: 30px 0px 0px 0px;
    
    */
    height: 100px;
    width: 100%;
    position: absolute;
    margin-top: 200px;  
    text-align: center; 
    /*
    height: 50px;
    background-color: #2d3f50;
    text-align: center;
    font-size: 11px;
    padding: 0px;
    margin: 0px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    */
  } 

  
  /** *******************style for home carousel**********************************/
  
  .carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
  }
  /* The controlsy */
  .carousel-control {
    left: -12px;
    height: 40px;
    width: 40px;
    /*background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;*/
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
  }
  .carousel-control.right {

    right: -12px;

  }

  /* The indicators */
  .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
  }
  /* The colour of the indicators */
  .carousel-indicators li {
    background: #cecece;
  }
  .carousel-indicators .active {
    background: #428bca;
  }
  .red{
    color:red;
  }

  /*********************container for some content of the pages*************************/  
  .form-area

  {
    
    background-color: #2d3f50;
    padding: 10px 20px;
    margin: 10% auto;
    border: 1px solid GREY;
    border-radius: 1px;
    color: white; 
    height: auto;
    width: 60%;
    min-width: 20%;
    padding-bottom:150px;
    text-align: center;
    box-shadow: 0px 8px 8px #000;
   
  }
  .form-area h1{
    /*padding-top:3em;*/
  }
  .form-area .tablereq{
    padding-top: 15px
  }

  #submit
  {
    margin-right:160px;
  }

  /**********changing medias*************************/  

 @media (max-width: 1166px) {
 
    .mytable{
      /*padding-left: -110px;*/
      margin: 0px;
      font-size: 100%;
    }
  }
  /* @media (max-width: 708px) {
    .form-area {
      padding: 0px;
      margin: 0;
      width:100%;
      
    }
    .mytable{
      padding-left: -110px;
      margin: 0px;
    }
  }*/
  
@media (min-width: 200px) {
    .starter-templat{
     
      width: 80%;

    }
    .form-area{
      /*padding: 0px;
      margin: 0px;
      width: 100%;*/
       overflow-x: auto;
   font-size: 100%;
    }
     .mytable{
      /*padding-left: -110px;*/
      margin: 0px;
    }
    
  }
  @media (max-width: 500px) {
   
    .form-area {
      
      width: 100%;
   
 
    }
     .mytable{
     /* padding-left: -110px;*/
      margin: 0px;
    }
    
  }

#door
{
  color: black;
}


#para
{
  margin-top: 60px;
  margin-left: -5px;
}
#pari
{
  margin-left: -5px;
}
#approve
{
  margin-left: 50px;
  margin-top: 80px;
  padding-bottom: 30px;
}
#decline
{
  margin-left: 50px;
  margin-top: 80px;
  padding-bottom: 30px;
}
#approval
{
  margin-left: 130px;
}
#step-2
{
  display:none;
}
.hide {
  display: none;
}
/*.row 
{
  margin-left: 110px;
}

  
   @media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
      margin-left: -15px;
    }
    .nav > .navbar-nav{
      float: right !important;
    }
  }
  .navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .navbar-toggle:focus {
    outline: 0;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
  }
  @media (min-width: 1200px) {
    .navbar-toggle {
      display: none;
    }
  }
  .navbar-nav {
    margin: 7.5px -15px;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
  }*/

  /*@media (max-width: 768px) {
    .navbar-nav .open .dropdown-menu {
      /*position: static;*/
      /*float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
     padding: 5px 15px 5px 25px;
    }
    .navbar-nav .open .dropdown-menu > li > a {
      line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {
      background-image: none;
    }
  }*/
/* @media (min-width: 768px) {
    .navbar-nav {
      float: left;
      margin: 0;
    }
    .navbar-nav > li {
      float: left;
    }
    .navbar-nav > li > a {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .form-area{
      clear: both;
      
    }
  }*/

  

